* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-size: 30px;
    background-color: #a3a3e6;
    color: #d2d2d2;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 250%;
}
/* This line goes along with p. I named an id within p */

/* This line goes along with p. I named an id within p */
